# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/anaconda/linux-64/binutils_impl_linux-64-2.31.1-h6176602_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/blas-1.0-mkl.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ca-certificates-2020.10.14-0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/intel-openmp-2021.3.0-h06a4308_3350.conda
https://conda.anaconda.org/anaconda/linux-64/ld_impl_linux-64-2.33.1-h53a641e_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgcc-ng-9.1.0-hdf63c60_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/binutils_linux-64-2.31.1-h6176602_9.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gcc_impl_linux-64-7.3.0-habb00fd_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jpeg-9b-habf39ab_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libffi-3.3-he6710b0_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lz4-c-1.9.2-heb0550a_3.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl-2021.3.0-h06a4308_520.conda
https://conda.anaconda.org/anaconda/linux-64/ncurses-6.2-he6710b0_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/openssl-1.1.1h-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/xz-5.2.5-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zlib-1.2.11-h7b6447c_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gcc_linux-64-7.3.0-h553295d_9.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_impl_linux-64-7.3.0-hdf63c60_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libedit-3.1.20191231-h14c3975_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libpng-1.6.37-hbc83047_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/readline-8.0-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tk-8.6.10-hbc83047_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zstd-1.4.4-h0b5b093_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/freetype-2.10.4-h5ab3b9f_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_linux-64-7.3.0-h553295d_9.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libtiff-4.1.0-h2733197_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/sqlite-3.33.0-h62c20be_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lcms2-2.11-h396b838_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/python-3.8.5-h7579374_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/appdirs-1.4.4-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/attrs-20.2.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/certifi-2020.6.20-py38_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/click-7.1.2-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/mypy_extensions-0.4.3-py38_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ninja-1.10.1-py38hfd86e86_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/olefile-0.46-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pathspec-0.7.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/regex-2020.10.15-py38h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/toml-0.10.1-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/typed-ast-1.4.1-py38h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/typing_extensions-3.7.4.3-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/wheel-0.35.1-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/setuptools-50.3.0-py38hb0f4dca_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pip-20.2.4-py38_0.tar.bz2
